################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio IDE files & folders
.vs/

# Binaries
x64/